.btn-custom-effect {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-custom-effect:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.developer-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
}

.developer-card a {
    color: #7652a3;
}